.btn {
    height: 60px;
    margin: 20px 0;

    background-color: #ffd65e;
    @include lineargradient-background (#ffd65e, #febf04);

    &:hover {
        background-color: #ffd65e + 1.5;
        @include lineargradient-background (#febf04, #ffd65e);
    }
}