%fullwidth-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

%grid-container {
  width: 70%;
}


.container {
    @extend %grid-container;
}

.details {
  padding: 50px 0;

  .details-container {
    margin-top: 40px;

  }
}