.main {
  position: relative;

  .header-bar {
    width: 100%;
    padding: 12px 0;
  }

  .container-mobile {
    @include breakpoint (small) {
      padding: 0 80px;
    }
    @include breakpoint (tiny) {
      padding: 0 20px;
    }
  }

  .background-img {
    height: 130%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(-9%);

    @include breakpoint (large){
      transform: translateX(-10%);
    }

    @include breakpoint (medium){
      transform: translateX(-9%);
    }
  }
}