aside {
  margin: 0 10px;

  @include breakpoint (small) {
    margin: 25px 0;
    padding: 0 30px;
  }

  img {
    height: 120px;
    margin-bottom: 20px;

    @include breakpoint (small) {
      height: 150px;
    }
  }
}

.hiddenCards {
  transform: translateY(-20px);
  opacity: 0;
}


// Transition Animation
aside:nth-child(1) {
  @include transition( all, 0.5s, ease-in);

  @include breakpoint (small) {
    @include transition( all, 0.5s, ease-in, 1s);
  }
}

aside:nth-child(2) {
  @include transition( all, 0.5s, ease-in, 0.2s);

  @include breakpoint (small) {
    @include transition( all, 0.5s, ease-in, 1.2s);
  }
}

aside:nth-child(3) {
  @include transition( all, 0.5s, ease-in, 0.4s);

  @include breakpoint (small) {
    @include transition( all, 0.5s, ease-in, 1.4s);
  }
}